body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: teal;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: whitesmoke;
    font-size: 36px;
    margin-bottom: 10px;
}

header h3 {
    background-color:blue;
    margin: 0%;
    padding: 0%;
}

header h3 {
    color: black;
    font-size: 18px;
}

.important {
  font-weight: bold;  
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

section h2 {
    color: teal;
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    color: grey;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

footer {
    background-color: grey;
    color: white;
    padding: 20px;
    text-align: center;
}

footer nav ul {
    list-style: none;
}

footer nav ul li {
    display: inline-block;
    margin-right: 20px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}

footer p {
    color: white;
    font-size: 14px;
    margin-top: 10px;
}